* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}

p {
  text-align: center;
  margin-bottom: 0px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* ===== FORMULÁRIO ===== */
.formulario {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formulario input {
  width: 100%;
  padding: 12px;
  font-size: 16px;

  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.formulario input:focus {
  border-color: #b11217;
}

/* ===== BOTÕES ===== */
.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 
  
}

.botoes button {
  flex: 1;
  min-width: 150px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #082035;
  border: none;
  border-radius: 6px;
  text-shadow: 3px 2px 10cap rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
}



/* ===== ASSINATURA ===== */
#assinatura {
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 4 / 1;

  background-image: url('img/modelo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  
  font-size: clamp(11px, 1.1vw, 18px);;
}


#nome {
  position: absolute;
  top: 34%;
  left: 1%;
  max-width: 30%;
  padding: 0.3em 0.8em;
  color: white;
  font-weight: bold;
  transform: translateY(1%);
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 4em 4em 4em rgba(0,0,0,0.6);
  font-size: clamp(1em, 5em, 1em);
  border-radius: 4em;
}

/* ===== CARGO ===== */
#cargo {
  position: absolute;
  top: 50%;
  left: 2.3%;
  transform: translateY(1%);
  max-width: 10em;
  
  font-size: clamp(1em, 1.2em, 20em);
  color: #333;
  line-height: 1.2;

  max-height: calc(1.2em * 3);
  overflow: hidden;

  white-space: normal;
  word-break: break-word;
}

/* ===== TELEFONE ===== */
#telefone {
  position: absolute;
  top: 33%;
  left: 37%;
  transform: translateY(1%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  
  text-shadow: 2em 2em 4em rgba(0,0,0,0.6);
  color: #ffffff;
  white-space: nowrap;
  
}

.rodape {
    margin-top: auto;
  text-align: center;
  font-size: 13px;
  color: #777;

  border-top: 1px solid #ddd;
}

.rodape strong {
  color: #333;
    margin-top: 10%;
}

.form-control {
  font-size: 16px;
  padding: 12px;
}

.btn-primary {
  background-color: #082035;
  border: none;
}

.btn-primary:hover {
  background-color: #0b2f4d;
}

